body,
html {
    width: 100%;
    background-image: url("recover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    width: 80%;
    padding-left: 9px;
    padding-right: 7%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 6%;
    padding-top: 8px;
    background-color: white;
    opacity: 0.7;
}

.head-container {
    width: 100%;
    /* height: 100%; */
    display: flex;
    background-color: rgb(255, 251, 251);
    margin-bottom: 2px;
}

.image {
    width: 30%;
    padding-left: 2%;
}

.image img {
    align-content: right;
    width: 230px;
    object-fit: cover;
    object-position: center;
    /* object-fit: ; */
    padding-left: 2%;
}

.name {
    padding-top: 5%;
    width: calc(100% - 20%);
    align-items: center;
    text-align: center;
}

.name h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    font-variant: 900;
    font-style: italic;
    font-weight: lighter;
    color: rgb(39, 37, 37);
}

.name h4 {
    font-weight: lighter;
    color: rgb(114, 105, 105);
}

.content-container {
    display: flex;
    margin-top: 4%;
}

.right {
    padding-left: 9px;
}

#contact-details li {
    list-style-type: none;
}

.left {
    padding-left: 2%;
    background-color: rgb(255, 251, 251);
}

#Contact h2 {
    font-weight: lighter;
    font-variant: initial;
    color: rgb(65, 62, 62);
}

.left {
    letter-spacing: 3px;
    text-transform: capitalize;
}

.profession h2 {
    color: rgb(82, 80, 80);
    font-weight: lighter;
    font-variant: initial;
}

.profession-details li {
    list-style-type: circle rgb(134, 166, 133);
}

.education {
    color: rgb(83, 81, 81);
    font-weight: lighter;
    font-variant: initial;
}

.heading h2 {
    color: rgb(80, 79, 79);
    font-weight: lighter;
    font-variant: initial;
    font-family: shelley allegro script;
}

.refe {
    color: rgb(82, 80, 80);
    font-weight: lighter;
    font-variant: initial;
}

.refe h2 {
    font-weight: lighter;
}

.heading-des h3 {
    color: rgb(71, 66, 66);
    font-weight: lighter;
}


/*container width*/

.container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.details h3 {
    color: rgb(116, 113, 113)
}

#contact-details {
    color: rgb(116, 113, 113);
}

i {
    color: rgb(114, 105, 105);
}

.left h2 {
    color: rgb(95, 92, 92);
}

.education h2 {
    font-weight: lighter;
}